//- Check mark mixin
mixin check_stage(stage)
  if stage
    td ✔
  else
    td

doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='assets/vendor/shower-bright/styles/screen.css')
    if prod
      link(rel='stylesheet', href='assets/css/main.min.css')
    else
      link(rel='stylesheet', href='assets/css/main.css')
  body.list
    header.caption
      h1= title
      h2= subtitle
    section.slide.shout(data-timing="3")
      div
        h2=title
    section.slide(data-timing="3")
      div
        h2 Homework Club Times
        table#times
          tr
            td Day
            td Time
            td Stage 1
            td Stage 2    
          each event in times
            tr
              td= event.day
              td= event.time
              +check_stage(event.stage1)
              +check_stage(event.stage2)
    each map in deadlineMaps
      section.slide.cover.deadlineMap(data-timing="3")
        div
          iframe(src=map scrolling="no")
    script(src='assets/vendor/shower-core/shower.min.js')
    if prod
      script(src='assets/js/main.min.js')
    else
      script(src='assets/js/main.js')
